<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>Groceries</title>
    <style>
        body {
            background-color: #0f3b36;
        }

        h1 {
            text-align: center;
            color: #ffffff;
        }
        .title {
            padding: 2px;
            background-color: rgba(67, 189, 18, 0.973);

        }
        .content{
            background-color: #0f3b36;
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
        .welcome{
            text-align: center;
            color: #ffffff;
            font-size: 1.5em;
            padding: 20px;
            background-color: #f58181;
            border-radius: 10px;
            margin: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .informa{
            text-align: center;
            color: #ffffff;
            font-size: 1.5em;
            padding: 20px;
            background-color: #002677;
            border-radius: 10px;
            margin: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image-container {
  position: relative;
  margin: 10px;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.info-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.info-btn:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* ... (resto de los estilos) */

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%;
  background-color: #fefefe;
  border-radius: 8px;
}

#modalImage {
  max-width: 100%; /* La imagen se ajustará al ancho máximo de la modal */
  height: auto;
  display: block;
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

/* ... (resto de los estilos) */

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
/* Left transition */
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}
/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}
/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}
/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}
ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right:0;
}
/* Styling for the popup */
#confirm p {
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}
.tablist-left {
    width: 25%;
    display: inline-block;
}
.tablist-content {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}


/* Estilo para el contenedor del formulario */
[data-role="content"] {
    padding: 20px;
}

/* Estilo para los campos de entrada de texto */
input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    border: 2px solid #ffffff; /* Color del borde */
    border-radius: 5px; /* Radio del borde */
    box-sizing: border-box;
    color: #000000; /* Color del texto */
    background-color: #cfffd1;
}

/* Estilo para las etiquetas de los campos */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000; /* Color del texto */
}

/* Estilo para el botón */
button {
    background-color: #2b485c; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para el botón al pasar el ratón (hover) */
button:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilo para el botón activo (focus) */
button:focus {
    outline: none;
}

/* Estilo para el mensaje de error (puedes personalizar según tus necesidades) */
.error-message {
    color: #e74c3c; /* Color del texto del mensaje de error */
    margin-top: 5px;
    font-size: 14px;
}

/* Otros estilos según necesidades específicas */

    </style>
</head>

<body>

    <!-- -------------------------Pagina Inicio------------------ -->
    <div data-role="page" id="page1">
        <div data-role="header">
            <div class="title">
                <h1>Groceries</h1>
            </div>
            <div data-role="footer">
                <div class="navbar" data-role="navbar">
                    <ul>
                        <li><a href="#page1" data-icon="home" class="ui-btn-active">Inicio</a></li>
                        <li><a href="#page2" data-icon="tag">Productos</a></li>
                        <li><a href="#page3" data-icon="eye">Empleados</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div data-role="content">
            <p class="welcome">Bienvenido a la Tineda de Comestibles</p>
            
            <form class="ui-filterable">
                <input data-type="search" id="searchForCollapsibleSetChildren" class="custom-search-input">
            </form>
            
            <div data-role="tabs">
                <ul data-role="listview" data-inset="true" class="tablist-left">
                    <% products.forEach((product, index) => { %>
                        <li><a href="#product_<%= index %>" data-ajax="false"><%= product.description %></a></li>
                    <% }) %>
                </ul>
                <% products.forEach((product, index) => { %>
                    <div id="product_<%= index %>" class="ui-body-d tablist-content">
                        <h3><%= product.description %></h3>
                        <ul data-role="listview" data-inset="true">
                            <li>Codigo de barras: <%= product.barcode %></li>
                            <li>Marca: <%= product.brand %></li>
                            <li>Precio de compra: <%= product.price %></li>
                            <li>Precio de costo: <%= product.cost %></li>
                            <li>Existencias: <%= product.stock %></li>
                            <li>Fecha de caducidad: <%= product.expiredDate %></li>
                            <li>Status: <%= product.status %></li>
                            <li><a href="/<%= product.barcode %>" class="ui-btn">Editar</a></li>
                            <li><a href="/delete/<%= product.barcode %>" class="ui-btn">Eliminar</a></li>
                        </ul>
                    </div>
                <% }) %>
            </div>
            
            
           
            <div class="informa">
                <p>Aqui podra encontrar cualquier producto que quiera</p>
            </div>

            <div class="content-images">
                <div class="image-container">
                    <img src="https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00762221083366L.jpg" alt="">
                    <button class="info-btn">Ver Info</button>
                </div>
            </div>
            
            <div class="content-images">
                <div class="image-container">
                    <img src="https://calimaxmx.vtexassets.com/arquivos/ids/201972/757528038205.1.jpg?v=638018901138900000" alt="">
                    <button class="info-btn">Ver Info</button>
                </div>
            </div>
            
            <div class="content-images">
                <div class="image-container">
                    <img src="https://www.coca-cola.com/content/dam/onexp/mx/es/brands/coca-cola/coca-cola-original/Product-Information-Section-Coca-Cola-Original.jpg" alt="">
                    <button class="info-btn">Ver Info</button>
                </div>
            </div>
            <div class="modal" id="imageModal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <img src="" alt="" id="modalImage">
                    <p>Galletas Oreo sabor chocolate</p>
                </div>
            </div>

            <div class="modal" id="imageModal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <img src="" alt="" id="modalImage">
                    <p>Takis Sabor Fuego con chile</p>
                </div>
            </div>

            <div class="modal" id="imageModal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <img src="" alt="" id="modalImage">
                    <p>Takis Fuego</p>
                </div>
            </div>

            <div class="modal" id="imageModal">
                <div class="modal-content">
                    <span class="close-btn">&times;</span>
                    <img src="" alt="" id="modalImage">
                    <p>Coca-cola</p>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
  // Mostrar modal al hacer clic en el botón
  $(".info-btn").on("click", function() {
    $("#imageModal").css("display", "block");
    
    // Obtener la imagen actual y mostrarla en la modal
    var imgSrc = $(this).siblings("img").attr("src");
    $("#modalImage").attr("src", imgSrc);
  });

  // Cerrar modal al hacer clic en la 'x' de la modal
  $(".close-btn").on("click", function() {
    $("#imageModal").css("display", "none");
  });

  // Cerrar modal al hacer clic fuera de la modal
  $(window).on("click", function(event) {
    if (event.target == $("#imageModal")[0]) {
      $("#imageModal").css("display", "none");
    }
  });
});

        </script>
    </div>
    

<!-- -----------------------------Pagina Productos----------------------- -->
<div data-role="page" id="page2">
    <div data-role="header">
        <div class="title">
                <h1>Groceries</h1>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="#page1" data-icon="home">Inicio</a></li>
                    <li><a href="#page2" data-icon="tag" class="ui-btn-active">Productos</a></li>
                    <li><a href="#page3" data-icon="eye">Empleados</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-role="content">
        <form action="/" method="POST">
            <input type="text" name="barcode" id="txt_barcode" placeholder="Codigo de Barras">

            <input type="text" name="description" id="txt_description" placeholder="Descripcion">

            <input type="text" name="brand" id="txt_brand" placeholder="Marca">

            <input type="text" name="cost" id="txt_cost" placeholder="Precio de Compra">

            <input type="text" name="price" id="txt_price" placeholder="Precio de Venta">

            <input type="number" name="stock" id="txt_stock" placeholder="Existencias">

            <label for="">Fecha expiracion</label>
            <input type="date" data-role="date" data-inline="true" name="expireDate">
            
            <label for="flip-6">Activo</label>
            <select name="status" id="flip-6" data-role="slider" data-mini="true">
                <option value="0">No</option>
                <option value="1">Si</option>
            </select>

            <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button>
        </form>
</div>
<div data-role="footer">
    <h5>Arroyo Desarrollador</h5>
</div>
</div>

<!-- -------------- Pagina Empleados ----------- -->
<div data-role="page" id="page3" id="demo-page" data-title="Inbox" data-url="demo-page">
    <div data-role="header">
        <div class="title">
                <h1>Groceries</h1>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="#page1" data-icon="home">Inicio</a></li>
                    <li><a href="#page2" data-icon="tag">Productos</a></li>
                    <li><a href="#page3" data-icon="eye" class="ui-btn-active">Empleados</a></li>
                </ul>
            </div>
        </div>
    </div>
            <div role="main" class="ui-content">
                <ul id="list" class="touch" data-role="listview" data-icon="false" data-split-icon="delete">

                    <li>
                        <a href="#demo-mail">
                            <h3>Angela Smith</h3>
                            <p class="topic"><strong>Encargado de Stock</strong></p>
                            <p>Mi nombre es angela soy procedente del estado de mexico y me gusta los tamales</p>
                            <p class="ui-li-aside"><strong>1:24</strong>PM</p>
                        </a>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                        <a href="#demo-mail">
                            <h3>Juan Perez</h3>
                            <p class="topic"><strong>Encargado de distribucion</strong></p>
                            <p>Me llamo juan vengo de la ciudad de puebla y me gustan los camotes</p>
                            <p class="ui-li-aside"><strong>11:24</strong>AM</p>
                        </a>
                        <a href="#" class="delete">Delete</a>
                    </li>
                    <li>
                            <a href="#demo-mail">
                                <h3>Ximena Estrada</h3>
                                <p class="topic"><strong>Gerente de la Tienda</strong></p>
                                <p>Me llamo Ximena y me gusta dar ordenes y pagarles poco a mis empleados</p>
                                <p class="ui-li-aside"><strong>11:24</strong>AM</p>
                            </a>
                            <a href="#" class="delete">Delete</a>
                        </li>
                </ul>
         <div id="confirm" class="ui-content" data-role="popup" data-theme="a">
                    <p id="question">Are you sure you want to delete:</p>
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <a id="yes" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Yes</a>
                        </div>
                        <div class="ui-block-b">
                            <a id="cancel" class="ui-btn ui-corner-all ui-mini ui-btn-a" data-rel="back">Cancel</a>
                        </div>
                    </div>
                </div><!-- /popup -->
            </div><!-- /content -->
        <script>
            $( document ).on( "pagecreate", "#demo-page", function() {
    // Swipe to remove list item
    $( document ).on( "swipeleft swiperight", "#list li", function( event ) {
        var listitem = $( this ),
            // These are the classnames used for the CSS transition
            dir = event.type === "swipeleft" ? "left" : "right",
            // Check if the browser supports the transform (3D) CSS transition
            transition = $.support.cssTransform3d ? dir : false;
            confirmAndDelete( listitem, transition );
    });
    // If it's not a touch device...
    if ( ! $.mobile.support.touch ) {
        // Remove the class that is used to hide the delete button on touch devices
        $( "#list" ).removeClass( "touch" );
        // Click delete split-button to remove list item
        $( ".delete" ).on( "click", function() {
            var listitem = $( this ).parent( "li" );
            confirmAndDelete( listitem );
        });
    }
    function confirmAndDelete( listitem, transition ) {
        // Highlight the list item that will be removed
        listitem.children( ".ui-btn" ).addClass( "ui-btn-active" );
        // Inject topic in confirmation popup after removing any previous injected topics
        $( "#confirm .topic" ).remove();
        listitem.find( ".topic" ).clone().insertAfter( "#question" );
        // Show the confirmation popup
        $( "#confirm" ).popup( "open" );
        // Proceed when the user confirms
        $( "#confirm #yes" ).on( "click", function() {
            // Remove with a transition
            if ( transition ) {
                listitem
                    // Add the class for the transition direction
                    .addClass( transition )
                    // When the transition is done...
                    .on( "webkitTransitionEnd transitionend otransitionend", function() {
                        // ...the list item will be removed
                        listitem.remove();
                        // ...the list will be refreshed and the temporary class for border styling removed
                        $( "#list" ).listview( "refresh" ).find( ".border-bottom" ).removeClass( "border-bottom" );
                    })
                    // During the transition the previous button gets bottom border
                    .prev( "li" ).children( "a" ).addClass( "border-bottom" )
                    // Remove the highlight
                    .end().end().children( ".ui-btn" ).removeClass( "ui-btn-active" );
            }
            // If it's not a touch device or the CSS transition isn't supported just remove the list item and refresh the list
            else {
                listitem.remove();
                $( "#list" ).listview( "refresh" );
            }
        });
        // Remove active state and unbind when the cancel button is clicked
        $( "#confirm #cancel" ).on( "click", function() {
            listitem.children( ".ui-btn" ).removeClass( "ui-btn-active" );
            $( "#confirm #yes" ).off();
        });
    }
});
        </script>
</div>
</body>

</html>